@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #DFDCD4;
    --foreground: #242424;

    --card: #DFDCD4;
    --card-foreground: #242424;

    --popover: #DFDCD4;
    --popover-foreground: #242424;

    --primary: #F1723B;
    --primary-foreground: 210 40% 98%;

    --secondary: #669865;
    --secondary-foreground: #F1723B;

    --muted: #AECACD;
    --muted-foreground: #242424;

    --accent: #f7d052;
    --accent-foreground: #242424;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #242424;
    --input: #242424;
    --ring: #242424;

    --radius: 0.5rem;
  }

  .dark {
    --background: #242424;
    --foreground: #DFDCD4;

    --card: #242424;
    --card-foreground: #DFDCD4;

    --popover: #242424;
    --popover-foreground: #DFDCD4;

    --primary: 210 40% 98%;
    --primary-foreground: #F1723B;

    --secondary: #669865;
    --secondary-foreground: #F1723B;

    --muted: #AECACD;
    --muted-foreground: #242424;

    --accent: #f7d052;
    --accent-foreground: #242424;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: #DFDCD4;
    --input: #DFDCD4;
    --ring: #DFDCD4;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-vv-black;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .logo {
    @apply text-2xl font-bold
  }

  .page-header {
    @apply font-bold text-[40px] leading-[48px] lg:text-[48px] lg:leading-[60px];
  }

}
