@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #dfdcd4;
    --foreground: #242424;

    --card: #dfdcd4;
    --card-foreground: #242424;

    --popover: #dfdcd4;
    --popover-foreground: #242424;

    --primary: #f1723b;
    --primary-foreground: 210 40% 98%;

    --secondary: #669865;
    --secondary-foreground: #f1723b;

    --muted: #aecacd;
    --muted-foreground: #242424;

    --accent: #f7d052;
    --accent-foreground: #242424;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: #242424;
    --input: #242424;
    --ring: #242424;

    --radius: 0.5rem;
  }

  .dark {
    --background: #242424;
    --foreground: #dfdcd4;

    --card: #242424;
    --card-foreground: #dfdcd4;

    --popover: #242424;
    --popover-foreground: #dfdcd4;

    --primary: 210 40% 98%;
    --primary-foreground: #f1723b;

    --secondary: #669865;
    --secondary-foreground: #f1723b;

    --muted: #aecacd;
    --muted-foreground: #242424;

    --accent: #f7d052;
    --accent-foreground: #242424;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: #dfdcd4;
    --input: #dfdcd4;
    --ring: #dfdcd4;
  }
}

body {
  letter-spacing: -0.3px;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-vv-black;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .logo {
    @apply text-2xl font-bold;
  }

  .h1 {
    @apply text-4xl lg:text-5xl font-bold leading-9 lg:leading-10;
  }

  .h2 {
    @apply text-2xl font-medium leading-7;
  }

  .h3 {
    @apply text-xl lg:text-2xl font-medium;
  }

  .p1 {
    @apply text-lg font-thin;
  }

  .p2 {
    @apply text-sm lg:text-base leading-none;
  }
}
